# Publish to PyPI
name: Publish to PyPI
on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/fennel-invest-api
    permissions:
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Install uv
        uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7
      - name: Install dependencies
        run: uv sync --all-groups
      - name: Install Protoc
        uses: arduino/setup-protoc@v3
      - name: Protobuf Generation
        run: make
      - name: Build
        run: uv build
      - name: Publish
        run: uv publish
