# Publish to PyPI
name: Publish to PyPI
on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/fennel-invest-api
    permissions:
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7
      - name: Install dependencies
        run: uv sync --all-groups
      - name: Install Protoc
        uses: arduino/setup-protoc@v3
      - name: Protobuf Generation
        run: make
      - name: Build
        run: uv build
      - name: Publish
        run: uv publish
